@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* .container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
} */

.congrats{
  background: url("../public/assets/g-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 10s linear infinite;
}


